<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serviceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.BookContentProvider"
            android:authorities="com.example.serviceapp.book.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.serviceapp.provider" />

        <service
            android:name=".BookService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.serviceapp.aidl">
            <intent-filter>
                <action android:name="com.example.serviceapp.action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".socket.SocketService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.serviceapp.aidl">
            <intent-filter>
                <action android:name="com.example.serviceapp.action.tcp" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".binderpool.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.serviceapp.aidl">
            <intent-filter>
                <action android:name="com.example.serviceapp.action.binderpool" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


    </application>

    <permission
        android:name="com.example.serviceapp.provider"
        android:protectionLevel="signature" />

    <permission
        android:name="com.example.serviceapp.aidl"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>